@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
    --dark-grey: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --trans-very-dark-gray: hsla(0, 0%, 27%, 0.3);
    --scrollbar-width: calc(100vw - 100%);
    font-family: "League Spartan", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;

    color-scheme: light dark;
    color: var(--black);
    background-color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--white);
    font-weight: 500;
    text-decoration: inherit;
    border-bottom: 1px solid transparent;
    padding-block: 1rem;
    transition: border-color 0.2s;
    &:hover {
        border-color: var(--white);
    }
}

p {
    color: var(--dark-grey);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border: none;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.25s;

    &:hover {
        border-color: #646cff;
    }

    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}

nav {
    position: absolute;
    top: 3rem;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    gap: 2rem;

    background: var(--trans-very-dark-gray);
    padding: 1rem 3rem;

    .navigation {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

#root {
    display: grid;
    grid-template-rows: 2fr 1fr;
    min-height: 100vh;

    main {
        position: relative;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        height: 100%;

        .img_container {
            position: relative;
        }

        .img {
            position: absolute;
            inset: 0;
            background-size: cover !important;
            transition: transform 0.5s, opacity 0.5s;

            &:nth-of-type(1) {
                background: url(./assets/desktop-image-hero-1.jpg) center;
            }

            &:nth-of-type(2) {
                background: url(./assets/desktop-image-hero-2.jpg) center;
            }

            &:nth-of-type(3) {
                background: url(./assets/desktop-image-hero-3.jpg) center;
            }

            &.prev {
                transform: translate(-50%) scale(0);
                opacity: 0;
            }

            &.next {
                transform: translate(50%) scale(0);
                opacity: 0;
            }
        }

        .next,
        .prev {
            user-select: none;
        }

        .info_section {
            padding-inline: 2rem;
            padding-bottom: 5rem;
            place-self: center;

            display: grid;
            grid-template-rows: 1fr 1fr 0.25fr;
            align-items: center;
            gap: 1rem;

            .h1_container {
                position: relative;

                h1 {
                    transition: transform 0.5s;

                    &.next {
                        position: absolute;
                        transform: translateY(-50%) rotateX(90deg);
                        bottom: 0;
                    }

                    &.prev {
                        position: absolute;
                        transform: translateY(50%) rotateX(-90deg);
                    }
                }
            }

            .p_container {
                position: relative;

                p {
                    transition: transform 0.5s;
                    &.next {
                        position: absolute;
                        transform-origin: top;
                        transform: translateY(-50%) rotateX(-90deg);
                        top: 0;
                    }

                    &.prev {
                        position: absolute;
                        transform-origin: bottom;
                        transform: translateY(50%) rotateX(90deg);
                    }
                }
            }

            button {
                position: relative;

                font-size: 1.25rem;
                letter-spacing: 0.2rem;

                justify-self: flex-start;
                text-transform: uppercase;
                transition: 0.3s;

                svg {
                    transition: inherit;
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    left: 0;
                    top: calc(50% - .5px);
                    background-color: var(--black);
                    transition: inherit;
                    transition-delay: 0.2s;
                }

                &:hover {
                    letter-spacing: 0.75rem;
                    font-weight: bolder;

                    svg {
                        margin-left: 1rem;
                    }

                    &::before {
                        content: "";
                        width: 3rem;
                        height: 1px;
                        position: absolute;
                        left: calc(100% - 3rem);
                        top: calc(50% - .5px);
                        background-color: var(--black);
                    }
                }
            }
        }
    }
}

#controller_container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    position: absolute;
    right: calc(100vw * 2 / 7);
    bottom: 0;
    width: calc(100% * 2 / 5 - 100% * 2 / 7);

    button {
        aspect-ratio: 1;
        max-height: 5rem;
        flex: 1 1 auto;
        background-color: var(--black);
        color: var(--white);
        font-size: 1.25rem;
        outline: none;

        &:hover {
            background-color: var(--dark-grey);
        }

        &:active {
            background-color: var(--very-dark-gray);
        }
    }
}

footer {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: center;

    .img {
        height: 100%;
        transition: background-size 0.2s;

        &:nth-child(1) {
            background: url(./assets/image-about-dark.jpg) center;
            background-size: cover;
        }

        &:nth-child(3) {
            background: url(./assets/image-about-light.jpg) center;
            background-size: cover;
        }
    }

    .footer_info {
        padding-inline: 1rem;
        place-self: center;
    }
}

@media (max-width: 1100px) {
    #root main {
        grid-template-columns: 1fr 1fr;
    }
    
    footer {
        grid-template-columns: 1fr 2fr 1fr;
    }

    #controller_container {
        right: calc(100vw * 2 / 8);
        width: calc(100vw * 1 / 2 - 100vw * 2 / 8);
    }
}

@media (max-width: 950px) {
    nav {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;

        justify-content: center;
        align-items: center;
        background-color: transparent;

        .navigation {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;

            background-color: var(--white);
            justify-content: flex-end;

            transition: transform 0.3s;
            transform: translateY(-100%);
            padding-block: 1rem;

            &.open_menu {
                transform: none;
            }

            a {
                color: var(--black);
                padding: 1rem;
                font-weight: bolder;
                &:hover {
                    border-color: var(--very-dark-grey)
                }
            }
        }
    }

    #menu_button {
        position: fixed;
        top: 2rem;
        left: 1rem;

        width: 2rem;
        height: 2rem;

        display: grid;
        place-items: center;

        z-index: 11;
    }

    #root {
        display: flex;
        flex-direction: column;

        main {
            display: flex;
            flex-direction: column;
            min-height: min(100vh, 60rem);

            .info_section {
                justify-content: space-evenly;
                padding: 1rem;
                flex: 1 1 auto;
            }

            .img_container {
                height: clamp(20rem, 50vh, 30rem);
            }

            #controller_container {
                bottom: auto;
                top: clamp(20rem, 50vh, 30rem);
                right: 0;
                transform: translateY(-100%);

                width: 7.5rem;
            }
        }
    }
}

@media (max-width: 750px) {
    footer {
        display: flex;
        flex-direction: column;
        .footer_info {
            padding: 2rem 1rem;
        }
        .img {
            height: 20rem;
            width: 100%;
        }
    }
}

@media (max-width: 650px) {
    #root main .img{
        &:nth-of-type(1) {
            background: url(./assets/mobile-image-hero-1.jpg) center;
        }
    
        &:nth-of-type(2) {
            background: url(./assets/mobile-image-hero-2.jpg) center;
        }
    
        &:nth-of-type(3) {
            background: url(./assets/mobile-image-hero-3.jpg) center;
        }
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 12px;
    }
    nav .navigation a {
        padding-inline: 0.25rem;
    }
}