:root {
  --dark-grey: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
  --trans-very-dark-gray: hsla(0, 0%, 27%, 0.3);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--white);
  text-decoration: inherit;
  border-bottom: 1px solid transparent;
  padding-block: 1rem;
}
a:hover {
  border-color: var(--white);
}

p {
  color: var(--dark-grey);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: var(--trans-very-dark-gray);
  padding: 1rem 3rem;
}

#root {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100vh;
}
#root .page {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100%;
}
#root .page .img_container {
  position: relative;
}
#root .page .img {
  position: absolute;
  inset: 0;
  background-size: cover !important;
  transition: transform 0.5s, opacity 0.5s;
}
#root .page .img:nth-of-type(1) {
  background: url(./assets/desktop-image-hero-1.jpg) center;
}
#root .page .img:nth-of-type(2) {
  background: url(./assets/desktop-image-hero-2.jpg) center;
}
#root .page .img:nth-of-type(3) {
  background: url(./assets/desktop-image-hero-3.jpg) center;
}
#root .page .img.prev {
  transform: translate(-50%) scale(0);
  opacity: 0;
}
#root .page .img.next {
  transform: translate(50%) scale(0);
  opacity: 0;
}
#root .page .info_section {
  padding-inline: 2rem;
  padding-bottom: 2rem;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#root .page .info_section h1.next {
  display: none;
  transform: scale(0);
}
#root .page .info_section h1.prev {
  display: none;
  transform: translateY(50%) scale(0);
}
#root .page .info_section p.next {
  display: none;
  transform: scale(0);
}
#root .page .info_section button {
  position: relative;
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  place-self: start;
  text-transform: uppercase;
  transition: 0.3s;
}
#root .page .info_section button svg {
  transition: inherit;
}
#root .page .info_section button::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  left: 0;
  top: calc(50% - 0.5px);
  background-color: var(--black);
  transition: inherit;
  transition-delay: 0.2s;
}
#root .page .info_section button:hover {
  letter-spacing: 0.75rem;
  font-weight: bolder;
}
#root .page .info_section button:hover svg {
  margin-left: 1rem;
}
#root .page .info_section button:hover::before {
  content: "";
  width: 3rem;
  height: 1px;
  position: absolute;
  left: calc(100% - 3rem);
  top: calc(50% - 0.5px);
  background-color: var(--black);
}

#controller_container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: absolute;
  left: 60vw;
  bottom: 33.3333333333vh;
  width: 11.4285714286vw;
}
#controller_container button {
  aspect-ratio: 1;
  flex: 1 1 auto;
  background-color: var(--black);
  color: var(--white);
  font-size: 1.25rem;
  outline: none;
}
#controller_container button:hover {
  background-color: var(--dark-grey);
}
#controller_container button:active {
  background-color: var(--very-dark-gray);
}

footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  align-items: center;
}
footer .img {
  background-size: cover !important;
  height: 100%;
}
footer .img:nth-child(1) {
  background: url(./assets/image-about-dark.jpg) center;
}
footer .img:nth-child(3) {
  background: url(./assets/image-about-light.jpg) center;
}
footer .footer_info {
  padding-inline: 1rem;
  place-self: center;
}/*# sourceMappingURL=index.css.map */